<?xml version='1.0' encoding='utf-8'?>
<widget id="com.des.nodeball" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Magic Nodeball</name>
    <description>
        A fortune telling app that looks to a node.js app for guidance..
    </description>
    <author email="don@houseonthecreek.com" href="http://www.houseonthecreek.com">
        Don Schaefer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
